<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta name="Keywords" content="HTML,CSS,JavaScript,PHP,Web">
    <meta name="author" content="Mahesh 'Invoron' Dhakal">
    <meta name="description" content=" Web App to Ping DOTA2 Servers">
    <title>D2Ping</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/d2.css' %}">
    <link rel="shorcut icon" href="{% static 'favicon/favicon.png' %}">
    <style>
    body, html {
    	height: 100%;
    	margin: 0;
    	}
    .bg {
    	background-image: url("{% static 'img/doto.jpg' %}");
    	height: 100%;

    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    }
    </style>

  </head>
  <body>
    <div class="bg">
      <div class="window1">
        <div class="window2">
    			<p class="pingtext">SELECT MATCHMAKING REGIONS<pre><form><input type="checkbox" name="Ping All" checked><span class="pingtext1"> Automatically pick best region based on my location.</span></form></pre></p>
    			<pre><div style="font-size:18px;color:#DDDDDD;text-align:center;">Or</div></pre>
    			<div class="pingtext1">Select up to three matchmaking regions. Select only the regions closest to you for the best experience.</div>

        <div class="window3">

              <div class="row">
                    {% for sevinfo in sevinfo %}
                        {% if sevinfo.ping == 'unknown' %}
                          <div class='my_sev'><img  src="{% static 'img/dark.png' %}" style="width: 18px;height: 18px;margin-right:5px">{{ sevinfo.sev_name }}
                          <div class='text-muted';><img  src="{% static 'img/s0.png' %}" style="width: 17px;height: 12px;margin-right:5px">ping:{{ sevinfo.ping }}</div></div>
                        {% elif sevinfo.ping <= 100 %}
                          <div class='my_sev'><img  src="{% static 'img/light.png' %}" style="width: 28px;height: 28px;margin-right:5px">{{ sevinfo.sev_name }}
                          <div class='my_ping'><img  src="{% static 'img/s3.png' %}" style="width: 17px;height: 12px;margin-left:3px;margin-right:5px">ping:{{ sevinfo.ping }}ms</div></div>
                        {% elif sevinfo.ping <= 150 %}
                          <div class='my_sev'><img  src="{% static 'img/dark.png' %}" style="width: 18px;height: 18px;margin-right:5px">{{ sevinfo.sev_name }}
                          <div class='my_ping'><img  src="{% static 'img/s2.png' %}" style="width: 17px;height: 12px;margin-right:5px">ping:{{ sevinfo.ping }}ms</div></div>
                        {% elif sevinfo.ping <= 200 %}
                          <div class='my_sev'><img  src="{% static 'img/dark.png' %}" style="width: 18px;height: 18px;margin-right:5px">{{ sevinfo.sev_name }}
                          <div class='my_ping'><img  src="{% static 'img/s1.png' %}" style="width: 17px;height: 12px;margin-right:5px">ping:{{ sevinfo.ping }}ms</div></div>
                        {% elif sevinfo.ping > 200 %}
                          <div class='my_sev' ><img  src="{% static 'img/dark.png' %}" style="width: 18px;height: 18px;margin-right:5px">{{ sevinfo.sev_name }}
                          <div class='my_ping' ><img  src="{% static 'img/s0.png' %}" style="width: 17px;height: 12px;margin-right:5px">ping:{{ sevinfo.ping }}ms</div></div>
                        {% endif %}
                    {% endfor %}
              </div>
              <br>
              <div class="mid">
                <button type="button" class="cbtn" onclick="">Refresh Pings</button>
              </div>
      </div>
      </div>

      </div>
    </div>
  </body>
</html>
